#accueil{
    margin-left : 50px;
    margin-top : 20px;
    width : 300px;

}
#logo{
    margin-right:10px;
    margin-left:10px;
    width:280px;
    height:70px;
}
#regle{
    background-image: url("fond.jpeg");
    margin-top:30px;
    border : solid;
    border-color : #303036;
    border-radius : 35px;
    border-width : 5px;
    width : 300px;
    text-align : center;
}
#actions{
    margin-top : 0px;
}
.bla{
    margin-left : 20px;
    margin-top : 15px;
    margin-bottom : 15px;
    width : 260px;
    text-align : center;
    display: block;
    height : 50px;
    color : #db3333;
    background-color : transparent;
    border-color:#dd2e2e;
    border-radius : 8px;
    font-size : 20px;
    font-weight:bold;
}
#ecart{
    margin-top:15px;
    margin-bottom:15px;
    margin-left:10px;
    margin-right:10px;
}
#pla{
    margin-top:30px;
    margin-bottom:30px;
}
.bla:hover{
    background-color : #db3333;
    color : white;
}
#milieu{
    width : 300px;
    margin-top : 30px;
    border : solid;
    border-color : #303036;
    border-radius : 35px;
    border-width : 5px;
    background-image: url("fond.jpeg");
}
header{
    background-image: url("fond.jpeg");
    border : solid;
    border-color : #303036;
    border-radius : 35px;
    border-width : 5px;
    width : 300px;
}
h1{
    margin-left : 10px;
    margin-top : 10px;
    margin-right : 10px;
    text-align : center;
}
h3{
    text-align : center;
}

#page{
    border-radius:25px;
    background-image: url("jeu.jpeg");
    background-size: cover;
    display:inline-block;
    margin-bottom:10px;
    margin-left:250px;
    border:solid;
    width:700px;
    margin-top:20px;
}
.pose{
    display:inline-block;
    margin-left:27px;
    margin-right:10px;
    height:100px;
    width:80px;
    border:solid;
    border-radius:10px;
    }
#pose{
    display:inline-block;
    margin-left:27px;
    margin-right:10px;
    height:100px;
    width:80px;
    border:solid;
    border-radius:10px;
}
#pose2{
    display:inline-block;
    margin-left:27px;
    margin-right:10px;
    height:100px;
    width:80px;
    border:solid;
    border-radius:10px;
}
#pose3{
    display:inline-block;
    margin-left:27px;
    margin-right:10px;
    height:100px;
    width:80px;
    border:solid;
    border-radius:10px;
}
#pose4{
    display:inline-block;
    margin-left:27px;
    margin-right:10px;
    height:100px;
    width:80px;
    border:solid;
    border-radius:10px;
}
#pose5{
    display:inline-block;
    margin-left:27px;
    margin-right:10px;
    height:100px;
    width:80px;
    border:solid;
    border-radius:10px;
}
#cartesadv{
    display:inline-block;
    margin-left:25px;
    width:400px;
    height:120px;
    border:solid;
    }
#adversaire{
    margin-right: 15px;
    margin-left:15px;
    margin-top:20px;
    height:120px;
}

#joueur{
    margin-top:40px;
    margin-bottom:20px;
    margin-left:15px;
    margin-right:15px;
    height:120px;
}
#defadv{
    border:solid;
    border-radius:10px;
    height:120px;
    width:80px;
    display:inline-block;
    margin-left:25px;

}
#deckadv{
    background-image: url("https://decaf.kouhi.me/lovelive/images/b/b8/Umi_cool_r287_t.jpg");
    background-size: cover;
    height:120px;
    width:100px;
    display:inline-block;
    margin-left:8px;

}
#cartesjoueur{
    display:inline-block;
    margin-left:25px;
    width:400px;
    height:120px;
    }
#defjoueur{
    border:solid;
    height:120px;
    width:80px;
    display:inline-block;
    margin-left:8px;
    border-radius:10px;

}

#deckjoueur{
    /*background-image: url("cartes.png");
    background-size: cover;
    height:120px;
    width:100px;*/
    display:inline-block;
    margin-left:50px;

}
#plateau{
    border-radius:15px;
    border:solid;
    background-image: url("plateau.jpg");
    background-size: cover;
    margin-left:15px;
    margin-right:15px;
    margin-top:20px;
    margin-bottom:20px;
    border:solid;
    height:270px;
}
#jeuadv{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    height:100px;
}
#jeujoueur{
    margin-top:5px;
    margin-bottom:20px;
    margin-left:10px;
    margin-right:10px;
    height:100px;
}
#lp{
    height:20px;
    margin-left:200px;
    margin-right:200px;
    border:solid;
}
.card {
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 65px;
	height: 100px;
}
#cartesjoueur .card + .card {
	margin-left: -10px;
}
#cartesjoueur .card {
	float: left;
	margin-left: 30px;
}
#cartesjoueur .card:hover {
	/*margin-top: -50px;*/
}
