header{
    border : solid;
    border-color : #303036;
    border-radius : 35px;
    border-width : 5px;
    width : 300px;
}
h1{
    margin-left : 10px;
    margin-top : 10px;
    margin-right : 10px;
    text-align : center;
}
h3{
    text-align : center;
}
#acc{
    margin-left : 50px;
    margin-top : 20px;
    width : 300px;
}
#pwd{
    margin-left : 10px;
    margin-top : 10px;
    text-align : center;
    width : 260px;
}
#text{
    text-align : center;
    text-decoration : underline;
    margin-top : 25px;
}
#bout{
    height : 25px;
    margin-left:10px;
    background-color : transparent;
    border-color:#dd2e2e;
    border-radius : 5px;
    color : #db3333;
}
#bout:hover{
    background-color : #db3333;
    color : white;
}
#val{
    margin-top:10px;
    margin-left:15px;
    margin-bottom : 10px;
}
